body {
	background-color: rgb(0, 64, 123);
	font-family: "Glacial", sans-serif;
	background-image: url("http://www.diffblue.com/img/bg/1a.jpg");
	background-size: cover;
	color: white;
	font-size: 100px;
}

.loadingWaiter {
	text-align: center;
	font-size: 300px;
}

p {
	margin: 0;
}

.superscriptFigure {
	font-size: 75px;
	vertical-align: text-top;
}

.subscriptFigure {
	font-size: 75px;
}

.caption {
	color: #1C75BC;
	font-size: 100px;
}

.mainFigure {
	color: white;
	font-size: 200px;
}

.chart {
	width: 100%;
	height: 100%;
	vertical-align: middle;
}
img.centered {
    border: none;
    display: block;
    margin: 0 auto;
}
span.error {
	float: right;
	color: red;
	font-size: 50px;
}
